body {
    background-color: #1e063c;
    color: #f8f9fa;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #f8f9fa;
}
a .hide-cursor {
    cursor: none;
}
.r-link {
    text-decoration: none;
    font-weight: bold;
    color: #1e063c;
}
li {
    list-style-type: none;
}

.card {
    background-color: #f7ecff;
}
.card a {
    color: #1e063c;
}
.mue-purple {
    color: #1e063c;
    font-size: 2.5rem;
}
.mue-btn-yellow {
    background-color: #cbf55c;
    color: #1e063c;
}
.mue-btn-yellow:hover {
    border: 1px solid #cbf55c;
    color: #cbf55c;
}
.mue-yellow {
    color: #cbf55c;
}
